.header-all{
    position:fixed;    
    width: 100%;
    z-index: 2;
}
.header-top{   
    padding: 5px 10px;
    background-color: #00142D;        
}
.aside{
    display: flex;
    justify-content: flex-end;    
}
.aside a{
    display: inline-block;
    line-height: 30px;   
    color: #FFFFFF; 
    padding: 0 13px;
}
.aside a i{
    border-right: 1px solid white;
    font-size: 16px;
    padding-right: 13px;
}
.aside nav a{
    font-size: 14px;
    text-decoration: none;
}
.aside a:hover{
    color: #2684FF;
}
.header{
    display: flex;
    padding: 25px 0;       
    background-color: white;      
}
.logo img{
    width: 160px;
    height: 26px;
    margin: 0 45px;
}
.header ul{
    display: flex;   
    margin: 0 30px;
}
.header li a{
    font-size: 15px;
    line-height: 26px;
    padding: 28px 15px;
    text-decoration: none;
    color: #667281;
}
.header li a:hover{
    color: #0061FF;
    border-bottom: 4px solid #0061FF;
    transition:.5s;
}
.link-free a{   
    background-color: #0061ff;
    border-radius: 30px;     
    color: white;
    text-decoration: none;
    padding:13px 20px;
    line-height: 26px;    
    margin-left: 100px;  
    font-size: 13px;
}
.link-free a:hover{
    background-color: #0747a6;
}
.banner{
    background-image: url("02.png");    
    height:700px;        
    position: relative;     
}
.banner h1{   
    font-size: 40px;
    line-height: 1.5;
    font-weight: bold;    
}
.banner-title h1 span{
    display: inline-block;
    color:#00c66a;
    padding-bottom: 30px;
}
.banner h2{
    line-height: 1.9;
    font-size: 17px;
    font-weight: bold;    
}
.banner-title{
    position: absolute;
    top: 0;    
    color: white;
    padding: 200px 0 0 40px;
}
.input-email {
    background-color: unset;
    border: none;    
    padding-right:20px;    
    width: 300px;
    color: white;
    border-bottom: 1px solid white;    
    outline: none;
    font-size: 15px;
}
::placeholder{
    color: white;
}
button{
    border-radius: 30px;
    background-color: #0061ff;
    cursor: pointer; 
    color: white;
    padding: 10px 25px;
    border: none;
    font-size: 18px;
    margin: 0 20px;
}
button:hover{
    background-color: #0747a6;
}
.title{
    text-align: center;         
}
.title h2{
    font-size: 35px;
    font-weight: bold;
    color: #000000;    
    line-height: 1.5;
    padding: 40px 0;
}
.title p{
    font-size: 17px;
    color: #324255;  
    line-height: 1.7;    
}
.item-group{
    width: 1150px;
    margin: auto;    
}
.item{
    display: flex;   
    border-bottom: 1px solid #e0e5e9;
    padding: 88px 0;
}
.item:nth-child(odd){
    flex-direction: row-reverse;
}
.pic{
    width: 575px;
}
.pic img{   
    width: 100%; 
    vertical-align: middle;
}
.txt{
    width: 575px;
}
.txt h3{
    font-size: 35px;
    font-weight: bold;
    line-height: 1.5;
}
.txt p{
    font-size: 17px;
    color: #324255;
    line-height: 1.7;
}
.item i{
    color: rgb(243, 197, 44);
    font-size: 30px;
    padding: 10px 0;    
}
.item li i{
    font-size: 20px;
    color: #88a6ca;
}
.item ul{
    display: flex;
    flex-wrap: wrap;
}
.item ul li{
    width: 287px;
}
.link a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 0;
    font-size: 17px;
    color: #0061FF;
}
.features-service{
    background-color: #f4f5f7;   
    padding-bottom: 80px;  
}
.service-group{    
    display: flex;
    flex-wrap: wrap;   
    flex-direction:row; 
    justify-content:center;    
}
.service{
    width: 383px;
    text-align: center;
}
.pics{
    margin: 20px 0;
}
.text{
    line-height: 1.5;
}
.text h3{
    font-size: 20px;
}
.text p{
    text-align: left;
    padding-left: 25px;
}
.recommend{
    border-bottom: 1px solid #e0e5e9;
    padding-top:88px;
    margin-bottom: 30px;
}
.recommend h2{
    font-size: 35px;
    text-align: center; 
    padding-bottom: 20px;  
}
.recommend h2 span{
    color: #0061ff;
}
.brand-group{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;    
}
.brand-group img{
    padding: 15px 40px;
}
.brand{
    width: 230px;
    border-bottom: 4px solid transparent;
}
.brand:hover{
    border-bottom: 4px solid #0061ff  ;
}
.other{
    display: flex;
    width: 1150px;
    margin: auto; 
}
.other-txt{
    width: 575px;
}
.other-txt a{
    display: inline-block;
    text-decoration: none;
    color: #0061ff;
    font-size: 19px;
    padding-bottom: 20px;  
}
.other-txt p{
    font-size: 16px;
    color:#324255;
    line-height: 1.5;
}
.other-txt p span{
    display: inline-block;
    color: #324255;
    font-size: 17px;
    padding-top: 90px;
}
.other-pic{
    width: 575px;
}
.other-pic img{
    width: 100%;
}
.footer{
    /* width: 100%;     */
    background-color: #172b4d;       
}
.footer-link{
    width: 100%;    
    margin-top: 60px;
    padding:40px 0 160px 20px;
    box-sizing: border-box;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;    
}
.footer-link h2{
    margin-top: 60px;
    padding-bottom: 40px;
    color: white;
    font-size: 40px;
    line-height: 1.5;    
}
.footer-link a{
    background-color: #0061ff;
    border-radius: 30px;     
    color: white;
    text-decoration: none;
    padding:14px 120px;     
    font-size: 15px;
}
.footer-list{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #00142d;
    padding-bottom: 180px;
}
.footer-list-item ul a{
    text-decoration:none;
    color: #667281;
    line-height:2.5;
}
.footer-list-item h4{
    padding:80px 0 20px 0;
    color: white;
    font-size: 18px;
}
.footer-list-item ul a:hover{
    color: white;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #00142d;
    border-top:1px solid #748094 ;
}
.footer-bottom-link ul{
    display: flex;    
}
.footer-bottom-link ul a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    border-right: 1px solid;
}
.footer-bottom-link ul a:hover{
    color: #0061ff;
}
.footer-bottom-icon a{
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: #172b4d;
    border-radius: 50%;
    font-size:25px;
    margin: 0 15px;    
    text-decoration: none;
    color: #fff;
    text-align: center;      
}
.footer-bottom-icon a:hover{
    color:#0061ff ;
}
.footer-bottom-info p{
    font-size: 14px;
    line-height: 1.6;
    color:#748094;
}